* {
    font-family: Inter, sans-serif;
    color: #171717;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 0;
    padding-top: 70px;
    overflow-x: hidden;
}


.container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template:
        "nav" auto
        "header" auto
        "main" 1fr
        "footer" auto;
    row-gap: 20px;
}

nav {
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 999;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-logo, .nav-link, .nav-cart {
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-cart {
    display: flex;
    justify-content: flex-end;
}

header {
    grid-area: header;
    padding: 0 20px;
}

h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -2px;
    padding-top: 70px;
    font-weight: 350;
    grid-column-end: span 2;
}

main {
    grid-area: main;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-section {
    display: grid;
    grid-template-rows: minmax(10px, min-content);
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
}

.description {
    grid-column-end: span 2;
    font-size: 16px;
    letter-spacing: -1px;
    width: 85%;
}

.grey {
    color: #484848;
    padding-bottom: 6px;
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}

.slogan {
    font-size: 40px;
    letter-spacing: -1px;
    display: flex;
    flex-direction: column;
    grid-column-end: span 2;
    font-weight: 350;
}

.static-slogan {
    white-space: normal;
    line-height: 0.7;
    padding-top: 10px;
}

.dynamic-slogan {
    display: block;
}

.dynamic-slogan a {
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

[class^="image-background-"] {
    background-color: #e5e5e5;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-background-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -10px;
}

.image-background-2 img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.image-background-3 img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.image-background-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[class^="image-description-"] {
    letter-spacing: -1px;
}

.bold {
    font-weight: 700;
}

.overview {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(4, minmax(10px, min-content));
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.overview-description {
    grid-column-end: span 2;
    padding: 10px 0;
    letter-spacing: -1px;
}

.image-background-5 img {
    width: 120%;
    height: auto;
    object-fit: cover;
}

.image-background-6 img, .image-background-7 img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.image-background-8 img {
    width: 90%;
    height: auto;
    object-fit: cover;
}
.image-background-9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[class^="overview-title-"] {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
}

[class^="title-description-"] {
    font-size: 16px;
    display: block;
    font-weight: 400;
}

.last-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 57%;
}

.target-audience {
    grid-column-end: span 2;
    color: #484848;
    padding-top: 20px;
    letter-spacing: -1px;
}

.tech-specs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.specs-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    letter-spacing: -1px;
    font-weight: 600;    
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #171717;
}

.black-text {
    color: #171717;
}

.grey-text {
    text-align: right;
    font-weight: 400;
}

.feature-card-1, .feature-card-2 {
    background-color: #e5e5e5;
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-rows: 10% 75% 7% auto;
}

.feature-card-1 img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    object-position: center 65%;
}

.feature-card-2 img {
    width: 70%;
    height: auto;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}

.number {
    font-size: 17px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.feature-card-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.3;
    padding-left: 20px;
}

.feature-card-description {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    padding-left: 20px;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: minmax(10px, min-content);
    grid-template-columns: 1fr;
    background-color: #e7e7e7;
    padding: 30px;
    margin-top: 60px;
}
.footer-title {
    font-size: 30px;
    letter-spacing: -2px;
    padding-top: 10px;
    font-weight: 500;
}

.footer-subtitle {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -2px;
    padding-top: 5px;
}

.fab.fa-instagram, .fab.fa-twitter, .fab.fa-facebook-f {
    font-size: 25px;
    text-decoration: none;
    color: #171717;
    margin-right: 10px;
}

.social-icon-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding-top: 30px;
}


.discover {
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 500;
    padding-top: 40px;
}

.rights {
    letter-spacing: -1px;
    padding-top: 40px;
}

ul {
    list-style-type: none;
    padding-top: 15px;
}

/*cart page*/

    .cart-content {
        display: grid;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }

    .image-background-10, .image-background-11, .image-background-12, .image-background-13 {
        background-color: #e5e5e5;
        height: 180px;
        width: 100%;
    }

    .image-background-10 img, .image-background-13 img {
        width: 80%;
        height: 100%;
        object-fit: cover;
    }

    .image-background-10, .image-background-13 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-background-11 img, .image-background-12 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .breadcrumb {
        display: flex;
        gap: 8px;
        grid-column-end: span 2;
        padding-top: 30px;
        letter-spacing: -1px;
    }

    .breadcrumb-seperator {
        width: 20px;
        height: 1px;
        background-color: #484848;
        margin-top: 0.5rem;
    }

    .item-amount {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .cart-item-layout {
        background-color: #e7e7e7;
        width: 100%;
        height: 180px;
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 150px;
        padding: 15px;
        column-gap: 10px;
    }


    .cart-item {
        width: 100%;
        height: 100%;
        background-color: #d0d0d0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-item img {
        width: 120%;
        height: auto;
        object-fit: cover;
        margin-top: -10px;
    }

    .cart-item-title {
        font-weight: 500;
        line-height: 1.5;
        font-size: 18px;
        letter-spacing: -1px;
    }

    .cart-item-details {
        display: block;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: -1px;
        color: #666666;
    }

    .license-info {
        font-size: 16px;
    }

    .license-info a {
        color: #666666;
    }

    .cart-summary-cartpage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        padding: 20px;
        background-color: #e7e7e7;
        height: auto;
        grid-column-end: span 2;
    }

    [class^="summary-row-"] {
        display: flex;
        justify-content: space-between;
    }

    .summary-row-4 {
        padding-bottom: 15px;
    }

    .total-right, .total-left, .taxes-right, .taxes-left {
        color: #666666;
        line-height: 2;
        letter-spacing: -1px;
    }

    .price-right {
        font-size: 50px;
        letter-spacing: -3px;
        padding-top: 10px;
    }

    .price-left {
        font-size: 25px;
        padding-top: 20px;
        letter-spacing: -1px;
    }

    .disclaimer {
        font-size: 12px;
        width: 63%;
        color: #666666;
    }

    .checkout a {
        letter-spacing: -1px;
        color: #666666;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    .discount-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f1f1f1;
        padding: 10px;
        max-width: 100%;
    }

    .discount-form input {
        flex: 1;
        background: transparent;
        border: none;
        font-size: 14px;
        outline: none;
    }

    .discount-form input::placeholder {
        color: #171717;
        letter-spacing: -0.5px;
        font-weight: 500;
    }

    .discount-form button {
        background-color: #f1f1f1;
        color: #666666;
        border: none;
        letter-spacing: -1px;
        text-decoration: underline;

    }


    /* Checkout page */

    .checkout-content {
        display: grid;
        grid-template-rows: minmax(10px, min-content);
        display: flex;
        flex-direction: column;
    }

    [class^="section-title-"] {
        font-size: 25px;
        letter-spacing: -1px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: 500;
        grid-column-end: span 2;
    }

    .shipping-form, .payment-form {
        background-color: #e7e7e7e7;
        padding: 30px;
    }

    .shipping-form input[type=text], .payment-form input[type=text] {
        display: block;
        width: 100%;
        border: none;
        background: #f1f1f1;
        margin-bottom: 15px;
    }

    .shipping-form input[type=text]:nth-of-type(1),
    .shipping-form input[type=text]:nth-of-type(2) {
        max-width: 50%;
    }

    .payment-form input[type=text]:nth-of-type(3),
    .payment-form input[type=text]:nth-of-type(4) {
        max-width: 50%;
    }

    .cart-summary-checkoutpage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        padding: 20px;
        background-color: #e7e7e7;
        height: auto;
        grid-column-end: span 2;
    }


/* media queries start now*/
@media (prefers-reduced-motion: 
no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

@media (max-width: 500px) {
    .dynamic-slogan {
        display: block;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .dynamic-slogan {
        display: inline-block;
    }

    .image-background-1, .image-background-2, .image-background, .image-background-4, .image-background-5, .image-background-6, .image-background-7, .image-background-8, .image-background-9 {
        width: 100%;
        height: 350px;
    }

    .last-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 92%
    }

    .feature-card-1, .feature-card-2 {
        width: 100%;
        height: 700px;
    }

    footer {
        display: grid;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr;
        background-color: #e7e7e7;
        padding: 30px;
        margin-top: 60px;
    }

    .footer-title {
        padding-top: 7px;
    }

    .footer-subtitle {
        grid-row: 2;
        grid-column: 1;
    }

    .social-icon-container {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 7px;
        padding-top: 0;
    }

    .discover {
        grid-row: 3;
        grid-column: 1;
        padding-top: 80px;
    }

    .footer-nav {
        grid-row: 4;
        grid-column: 1;
    }

    .rights {
        grid-row: 5;
        grid-column: 1;
        padding-top: 50px;
    }

    /*cart page*/

    .image-background-10, .image-background-11 {
        width: 100%;
        height: auto;
    }


    .image-background-12, .image-background-13 {
        display: none;
    }

    .cart-item-layout {
        background-color: #e7e7e7;
        width: 100%;
        height: auto;
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 80%;
        padding: 15px;
        column-gap: 10px;
    }

    .cart-item {
        width: 100%;
        height: 200px;
        background-color: #d0d0d0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .cart-item-title {
        font-weight: 500;
        line-height: 1.5;
        font-size: 18px;
        letter-spacing: -1px;
    }

    .cart-item-details {
        display: block;
        font-size: 16px;
        letter-spacing: -1px;
        color: #666666;
    }

    .license-info a {
        color: #666666;
    }
}

/* laptops */

@media (min-width: 768px) and (max-width: 1024px) {
        
    .dynamic-slogan {
        display: inline-block;
    }

    [class^="image-background-"] {
        width: 100%;
        height: 400px;
    }

    .image-background-1 img {
        margin-top: -20px;
    }

    .image-background-5 img {
        margin-top: -25px;
    }

    .last-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 92%
    }

    .feature-card-1, .feature-card-2 {
        width: 100%;
        height: 700px;
    }

    .feature-card-1 img {
        width: 70%;
    }

    .feature-card-2 img {
        width: 50%;
    }

    footer {
        display: grid;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr;
        background-color: #e7e7e7;
        padding: 30px;
        margin-top: 60px;
    }

    .footer-title {
        padding-top: 7px;
    }

    .footer-subtitle {
        grid-row: 2;
        grid-column: 1;
    }

    .social-icon-container {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 7px;
        padding-top: 0;
    }

    .discover {
        grid-row: 3;
        grid-column: 1;
        padding-top: 80px;
    }

    .footer-nav {
        grid-row: 4;
        grid-column: 1;
    }

    .rights {
        grid-row: 5;
        grid-column: 1;
        padding-top: 50px;
    }

   /*cart page*/

.image-background-10, .image-background-11 {
    width: 100%;
    height: auto;
}

.image-background-12, .image-background-13 {
    display: none;
}

.cart-item-layout {
    background-color: #e7e7e7;
    width: 100%;
    height: auto;
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 80%;
    padding: 15px;
    column-gap: 10px;
}

.cart-item {
    width: 100%;
    height: 300px;
    background-color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -30px;
}

.cart-item-title {
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: -1px;
}

.cart-item-details {
    display: block;
    font-size: 16px;
    letter-spacing: -1px;
    color: #666666;
}

.license-info a {
    color: #666666;
}

}

/* bigger laptops */

@media (min-width: 1025px) and (max-width: 1440px) {
    .intro-container {
        grid-column: 1;
        grid-row: 1;
        grid-column-end: span 2;
    }

    .slogan {
        grid-column: 3;
        grid-row: 1;
        padding-top: 10px;
        font-size: 40px;
        letter-spacing: -1px;
        display: flex;
        flex-direction: column;
        justify-self: end;
        grid-column-end: span 2;
    }

    .dynamic-slogan {
        display: inline;
    }

    .hero-section {
        display: grid;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 26% 1fr 1fr 33%;
        row-gap: 20px;
        column-gap: 5px;
    }

    [class^="image-background-"] {
        background-color: #e5e5e5;
        height: 100%;
    }

    .image-background-1 {
        width: 100%;
        height: 100%;
        grid-row-end: span 2;
    }

    .image-background-2 {
        width: 100%;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-background-2 img {
        width: 60%;
        height: 100%;
    }

    .image-background-3 {
        width: 100%;
        grid-column: 3;
        grid-row: 2;
    }

    .image-background-4 {
        width: 80%;
        height: 100%;
        grid-column: 4;
        grid-row: 2;
        grid-row-end: span 2;
        display: flex;
        justify-self: end;
    }
    
    [class^="image-description-"] {
        letter-spacing: -1px;
    }

    .image-description-1 {
        grid-column: 1;
        grid-row: 4;
}

    .image-description-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .image-description-3 {
        grid-column: 3;
        grid-row: 3;
    }

    .image-description-4 {
        grid-column: 4;
        grid-row: 4;
        width: 80%;
        justify-self: end;
    }

    .overview {
        display: grid;
        width: 100%;
        grid-template-rows: 150px repeat(3, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
    }

    .overview-description {
        grid-column-end: span 3;
        letter-spacing: -1px;
        grid-row: 2;
    }

    .image-background-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 4;
        grid-column: 3;
    }

    .image-background-6 {
        grid-row: 3;
        grid-column: 3;
    }

    .image-background-7 {
        grid-row: 3;
        grid-column: 1;
    }

    .image-background-8 {
        grid-row: 3;
        grid-column: 5;
    }

    .image-background-9 {
        grid-row: 4;
        grid-column: 1;
    }

    .overview-title-1 {
        grid-row: 3;
        grid-column: 2;
    }

    .overview-title-2 {
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    .overview-title-3 {
        grid-row: 3;
        grid-column: 4;
    }

    .overview-title-4 {
        grid-row: 3;
        grid-column: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    .overview-title-5 {
        grid-row: 3;
        grid-column: 6;
    }

    .last-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 57%
    }

    .target-audience {
        grid-column-end: span 2;
        color: #666666;
        padding-top: 20px;
        letter-spacing: -1px;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
    }

    .tech-specs {
        display: grid;
        width: 100%;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .divider, .specs-description {
        grid-column-end: span 2;
    }

    .feature-card-1, .feature-card-2 {
        background-color: #e5e5e5;
    }

    .feature-card-1 {
        grid-column: 1;
        width: 100%;
        height: 500px;
    }

    .feature-card-2 {
        grid-column: 2;
        width: 100%;
        height: 500px;
        justify-self: end;
    }

    .number {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .feature-card-title {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.3;
        padding-left: 20px;
    }
    
    .feature-card-description {
        display: block;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -1px;
        padding-left: 20px;
    }


    .feature-card-1 img {
        width: 80%;
        height: 100%;
        object-fit: cover;
        justify-self: center;
        object-position: center 65%;
    }
    
    .feature-card-2 img {
        width: 65%;
        height: auto;
        object-fit: cover;
        justify-self: center;
        align-self: center;
    }

    /* footer */
    footer {
        display: grid;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr;
        background-color: #e7e7e7;
        padding: 30px;
        margin-top: 60px;
    }

    .footer-title {
        padding-top: 10px;
    }

    .footer-subtitle {
        grid-row: 2;
        grid-column: 1;
    }

    .social-icon-container {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 7px;
        padding-top: 0;
    }

    .discover {
        grid-row: 3;
        grid-column: 1;
        padding-top: 80px;
    }

    .footer-nav {
        grid-row: 4;
        grid-column: 1;
    }

    .rights {
        grid-row: 5;
        grid-column: 1;
    }

    /*cart page*/

    .cart-content {
        display: grid;
        grid-template-rows: repeat(4, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .breadcrumb {
        grid-row: 2;
        grid-column: 1;
        grid-column-end: span 2;
    }

    .cart-item {
        height: 260px;
    }

    .cart-item img {
        width: 100%;
        height: 100%;
        margin-top: -15px;
    }

    .cart-item-layout {
        grid-row: 3;
        grid-column: 1;
        grid-column-end: span 2;
        height: 290px;
    }

    .cart-summary-cartpage {
        grid-row: 4;
        grid-column: 3;
        grid-column-end: span 2;
        height: auto;
    }

    .image-background-10 {
        grid-row: 3;
        grid-column: 3;
        width: 100%;
        height: 100%;
    }

    .image-background-11 {
        grid-row: 3;
        grid-column: 4;
        width: 100%;
        height: 100%;
    }

    .image-background-12 {
        grid-row: 4;
        grid-column: 1;
        width: 100%;
        height: auto;
    }

    .image-background-12 img {
        object-position: 43% center;
    }

    .image-background-13 {
        grid-row: 4;
        grid-column: 2;
        width: 100%;
        height: auto;
    }

    /* Checkout page */

        .checkout-content {
            display: grid;
            grid-template-rows: minmax(10px, min-content);
            grid-template-columns: 30% 30% 1fr;
            gap: 10px;
            position: relative;
            overflow: visible;
        }

        .section-title-1 {
            grid-row: 2;
            grid-column: 1;
        }

        .section-title-2 {
            grid-row: 2;
            grid-column: 2;
        }

        .section-title-3 {
            grid-row: 2;
            grid-column: 3;
        }

        .shipping-form {
            grid-row: 3;
            grid-column: 1;
            grid-row-end: span 2;
        }

        .payment-form {
            background-color: #e7e7e7e7;
            padding: 30px;
            height: auto;
            grid-row-end: span 2;
            grid-row: 3;
            grid-column: 2;
        }

        .cart-summary-checkoutpage {
            grid-row: 3;
            grid-column: 3;
        }
}

/* larger laptops */

@media (min-width: 1441px) and (max-width: 1920px) {
    .intro-container {
        grid-column: 1;
        grid-row: 1;
        grid-column-end: span 2;
    }

    .slogan {
        grid-column: 3;
        grid-row: 1;
        padding-top: 10px;
        font-size: 50px;
        letter-spacing: -1px;
        display: flex;
        flex-direction: column;
        justify-self: end;
        grid-column-end: span 2;
    }

    .dynamic-slogan {
        display: inline;
    }

    .hero-section {
        display: grid;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 26% 1fr 1fr 33%;
        row-gap: 20px;
        column-gap: 5px;
    }

    .image-background-1, .image-background-2, .image-background-3, .image-background-4 {
        background-color: #e5e5e5;
        height: 100%;
    }

    .image-background-1 {
        width: 100%;
        grid-row-end: span 2;
    }

    .image-background-2 {
        width: 100%;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-background-2 img {
        width: 100%;
        height: 100%;
    }

    .image-background-3 {
        width: 100%;
        grid-column: 3;
        grid-row: 2;
    }

    .image-background-3 img {
        width: 100%;
    }

    .image-background-4 {
        width: 80%;
        height: 100%;
        grid-column: 4;
        grid-row: 2;
        grid-row-end: span 2;
        display: flex;
        justify-self: end;
    }
    
    [class^="image-description"] {
        letter-spacing: -1px;
    }

    .image-description-1 {
        grid-column: 1;
        grid-row: 4;
}

    .image-description-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .image-description-3 {
        grid-column: 3;
        grid-row: 3;
    }

    .image-description-4 {
        grid-column: 4;
        grid-row: 4;
        width: 80%;
        justify-self: end;
    }

    .overview {
        display: grid;
        width: 100%;
        grid-template-rows: 150px repeat(3, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
    }

    .overview-description {
        padding-top: 40px;
        grid-column-end: span 3;
        padding-bottom: 20px;
        letter-spacing: -1px;
        grid-row: 2;
    }

    .image-background-5, .image-background-6, .image-background-7, .image-background-8, .image-background-9 {
        height: 300px;
        width: 100%;
    }

    .image-background-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 4;
        grid-column: 3;
    }

    .image-background-6 {
        grid-row: 3;
        grid-column: 3;
    }

    .image-background-7 {
        grid-row: 3;
    }

    .image-background-8 {
        grid-row: 3;
        grid-column: 5;
    }

    .image-background-9 {
        grid-row: 4;
        grid-column: 1;
    }

    .overview-title-1 {
        grid-row: 3;
        grid-column: 2;
    }

    .overview-title-2 {
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    .overview-title-3 {
        grid-row: 3;
        grid-column: 4;
    }

    .overview-title-4 {
        grid-row: 3;
        grid-column: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    .overview-title-5 {
        grid-row: 3;
        grid-column: 6;
    }

    .overview-title-6 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 85%
    }

    .target-audience {
        grid-column-end: span 2;
        color: #666666;
        padding-top: 20px;
        letter-spacing: -1px;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        font-size: 20px;
    }

    .tech-specs {
        display: grid;
        width: 100%;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .feature-card-1, .feature-card-2 {
        background-color: #e5e5e5;
        margin-top: 25px;
    }

    .feature-card-1 {
        grid-column: 1;
        width: 100%;
        height: 550px;
    }

    .feature-card-2 {
        grid-column: 2;
        width: 100%;
        height: 550px;
        justify-self: end;
    }

    .number {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .feature-card-title {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.3;
        padding-left: 20px;
    }
    
    .feature-card-description {
        display: block;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -1px;
        padding-left: 20px;
    }

    .feature-card-1 img {
        width: 60%;
        height: 100%;
        object-fit: cover;
        justify-self: center;
        object-position: center 65%;
    }
    
    .feature-card-2 img {
        width: 50%;
        height: auto;
        object-fit: cover;
        justify-self: center;
        align-self: center;
    }

    .divider, .specs-description {
        grid-column-end: span 2;
    }

    /* footer */
    footer {
        display: grid;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr;
        background-color: #e7e7e7;
        padding: 30px;
        margin-top: 60px;
    }

    .footer-title {
        padding-top: 10px;
    }

    .footer-subtitle {
        grid-row: 2;
        grid-column: 1;
    }

    .social-icon-container {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 7px;
        padding-top: 0;
    }

    .discover {
        grid-row: 3;
        grid-column: 1;
        padding-top: 80px;
    }

    .footer-nav {
        grid-row: 4;
        grid-column: 1;
    }

    .rights {
        grid-row: 5;
        grid-column: 1;
    }

    /*cart page*/

    .cart-content {
        display: grid;
        grid-template-rows: repeat(4, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .breadcrumb {
        grid-row: 1;
        grid-column: 1;
        grid-column-end: span 2;
    }

    .cart-item {
        height: 170%;
    }

    .cart-item img {
        width: 100%;
        height: 100%;
        margin-top: -15px;
    }

    .cart-item-layout {
        grid-row: 3;
        grid-column: 1;
        grid-column-end: span 2;
        height: 290px;
    }

    .cart-summary-cartpage {
       grid-row: 4;
        grid-column: 3;
        grid-column-end: span 2;
    }

    .image-background-10 {
        grid-row: 3;
        grid-column: 3;
        width: 100%;
        height: 100%;
    }

    .image-background-11 {
        grid-row: 3;
        grid-column: 4;
        width: 100%;
        height: 100%;
    }

    .image-background-12 {
        grid-row: 4;
        grid-column: 1;
        width: 100%;
        height: auto;
    }

    .image-background-12 img {
        object-position: 43% center;
    }

    .image-background-13 {
        grid-row: 4;
        grid-column: 2;
        width: 100%;
        height: auto;
    }

        /* Checkout page */

        .checkout-content {
            display: grid;
            grid-template-rows: minmax(10px, min-content);
            grid-template-columns: 30% 30% 1fr;
            gap: 10px;
            position: relative;
            overflow: visible;
        }

        .section-title-1 {
            grid-row: 2;
            grid-column: 1;
        }

        .section-title-2 {
            grid-row: 2;
            grid-column: 2;
        }

        .section-title-3 {
            grid-row: 2;
            grid-column: 3;
        }

        .shipping-form {
            grid-row: 3;
            grid-column: 1;
            grid-row-end: span 2;
        }

        .payment-form {
            background-color: #e7e7e7e7;
            padding: 30px;
            height: auto;
            grid-row-end: span 2;
            grid-row: 3;
            grid-column: 2;
        }

        .cart-summary-checkoutpage {
            grid-row: 3;
            grid-column: 3;
        }
}


@media (min-width: 1921px) and (max-width: 2560px) {
    .intro-container {
        grid-column: 1;
        grid-row: 1;
        grid-column-end: span 2;
    }

    .slogan {
        grid-column: 3;
        grid-row: 1;
        padding-top: 10px;
        font-size: 50px;
        letter-spacing: -1px;
        display: flex;
        flex-direction: column;
        justify-self: end;
        grid-column-end: span 2;
    }

    .dynamic-slogan {
        display: inline;
    }

    .hero-section {
        display: grid;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 26% 1fr 1fr 33%;
        row-gap: 20px;
        column-gap: 5px;
    }

    .image-background-1, .image-background-2, .image-background-3, .image-background-4 {
        background-color: #e5e5e5;
        height: 100%;
    }

    .image-background-1 {
        width: 100%;
        height: 100%;
        grid-row-end: span 2;
    }

    .image-background-2 {
        width: 100%;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-background-2 img {
        width: 100%;
        height: 100%;
    }

    .image-background-3 {
        width: 100%;
        grid-column: 3;
        grid-row: 2;
    }

    .image-background-4 {
        width: 80%;
        height: 100%;
        grid-column: 4;
        grid-row: 2;
        grid-row-end: span 2;
        display: flex;
        justify-self: end;
    }
    
    .image-description-1, .image-description-2, .image-description-3, .image-description-4 {
        letter-spacing: -1px;
    }

    .image-description-1 {
        grid-column: 1;
        grid-row: 4;
}

    .image-description-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .image-description-3 {
        grid-column: 3;
        grid-row: 3;
    }

    .image-description-4 {
        grid-column: 4;
        grid-row: 4;
        width: 80%;
        justify-self: end;
    }

    .tech-specs {
        display: grid;
        width: 100%;
        grid-template-rows: minmax(10px, min-content);
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .feature-card-1, .feature-card-2 {
        background-color: #e5e5e5;
        margin-top: 25px;
    }

    .feature-card-1 {
        grid-column: 1;
        width: 100%;
        height: 550px;
    }

    .feature-card-2 {
        grid-column: 2;
        width: 100%;
        height: 550px;
        justify-self: end;
    }

    .number {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .feature-card-title {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1.3;
        padding-left: 20px;
    }
    
    .feature-card-description {
        display: block;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -1px;
        padding-left: 20px;
    }


    .overview {
        display: grid;
        width: 100%;
        grid-template-rows: 150px repeat(3, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
    }

    .overview-description {
        padding-top: 40px;
        grid-column-end: span 3;
        padding-bottom: 20px;
        letter-spacing: -1px;
        grid-row: 2;
    }

    .image-background-5, .image-background-6, .image-background-7, .image-background-8, .image-background-9 {
        height: 400px;
        width: 400px;
    }

    .image-background-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 4;
        grid-column: 3;
    }

    .image-background-6 {
        grid-row: 3;
        grid-column: 3;
    }

    .image-background-7 {
        grid-row: 3;
    }

    .image-background-8 {
        grid-row: 3;
        grid-column: 5;
    }

    .image-background-9 {
        grid-row: 4;
        grid-column: 1;
    }

    .overview-title-1 {
        grid-row: 3;
        grid-column: 2;
    }

    .overview-title-2 {
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    .overview-title-3 {
        grid-row: 3;
        grid-column: 4;
    }

    .overview-title-4 {
        grid-row: 3;
        grid-column: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    .overview-title-5 {
        grid-row: 3;
        grid-column: 6;
    }

    .overview-title-6 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 88%
    }

    .target-audience {
        grid-column-end: span 2;
        color: #666666;
        padding-top: 20px;
        letter-spacing: -1px;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        font-size: 20px;
    }

    .feature-card-1 img {
        width: 47%;
        height: 100%;
        object-fit: cover;
        justify-self: center;
        object-position: center 65%;
    }
    
    .feature-card-2 img {
        width: 37%;
        height: auto;
        object-fit: cover;
        justify-self: center;
        align-self: center;
    }

    .divider, .specs-description {
        grid-column-end: span 2;
    }

    /* footer */
    footer {
        display: grid;
        grid-template-rows: repeat(5, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr;
        background-color: #e7e7e7;
        padding: 30px;
        margin-top: 60px;
    }

    .footer-title {
        padding-top: 10px;
    }

    .footer-subtitle {
        grid-row: 2;
        grid-column: 1;
    }

    .social-icon-container {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 7px;
        padding-top: 0;
    }

    .discover {
        grid-row: 3;
        grid-column: 1;
        padding-top: 80px;
    }

    .footer-nav {
        grid-row: 4;
        grid-column: 1;
    }

    .rights {
        grid-row: 5;
        grid-column: 1;
    }

    /*cart page*/

    .cart-content {
        display: grid;
        grid-template-rows: repeat(4, minmax(10px, min-content));
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .breadcrumb {
        grid-row: 2;
        grid-column: 1;
        grid-column-end: span 2;
    }

    .cart-item img {
        width: 100%;
        height: 100%;
        margin-top: -15px;
    }

    .cart-item {
        height: 350px;
    }

    .cart-item-layout {
        grid-row: 3;
        grid-column: 1;
        grid-column-end: span 2;
        height: 80%;
    }

    .cart-summary-cartpage {
        grid-row: 4;
        grid-column: 3;
        grid-column-end: span 2;
    }

    .image-background-10 {
        grid-row: 3;
        grid-column: 3;
        width: 100%;
        height: 100%;
    }

    .image-background-11 {
        grid-row: 3;
        grid-column: 4;
        width: 100%;
        height: 100%;
    }

    .image-background-12 {
        grid-row: 4;
        grid-column: 1;
        width: 100%;
        height: auto;
    }

    .image-background-12 img {
        object-position: 43% center;
    }

    .image-background-13 {
        grid-row: 4;
        grid-column: 2;
        width: 100%;
        height: auto;
    }

        /* Checkout page */

        .checkout-content {
            display: grid;
            grid-template-rows: minmax(10px, min-content);
            grid-template-columns: 30% 30% 1fr;
            gap: 10px;
            position: relative;
            overflow: visible;
        }

        .section-title-1 {
            grid-row: 2;
            grid-column: 1;
        }

        .section-title-2 {
            grid-row: 2;
            grid-column: 2;
        }

        .section-title-3 {
            grid-row: 2;
            grid-column: 3;
        }

        .shipping-form {
            grid-row: 3;
            grid-column: 1;
            grid-row-end: span 2;
        }

        .payment-form {
            background-color: #e7e7e7e7;
            padding: 30px;
            height: auto;
            grid-row-end: span 2;
            grid-row: 3;
            grid-column: 2;
        }

        .cart-summary-checkoutpage {
            grid-row: 3;
            grid-column: 3;
        }
}